/* allgemein geaendert J.O. work4web.eu */
.d21Container { font-weight: bold; }
.d21Container, .d21Container input, .d21Container select { font-size: 14px; }
.d21Header, .d21CheckHeader {
	width: 180px;
	font-size: 14px;
	margin-bottom: 8px;
	border-bottom: solid 1px #990000;
	color: #990000;
	font-family: "Source Sans Pro", "Helvetica Neue", serif;
	font-size: 16px;
	color: #990000;
	line-height: 1em;
}
.d21Col { float: left; }
.d21Cal { float: left; margin-left: 2px; cursor: pointer; }
.d21CheckIn, .d21CheckOut { float: left; width: 68px; padding-top: 5px; }
.d21RateCode { float: left; width: 68px; padding-top: 5px; }
.d21Count { float: left; width: 62px; text-align: right }
.d21Cities { clear: both; width: 180px; margin-bottom: 20px; }
.d21CityLabel { float: left; width: 68px; padding-bottom: 5px; }

/* rows */
.d21Row1, .d21Row2 { clear: both; width: 180px; margin-bottom: 4px; }
.d21Row3 { clear: both; width: 180px; }
.d21Row4 { float: left; }
.d21Row5 { width: 180px;  text-align: center}
.d21Row6 {
	width: 190px;
	margin-top: 8px;
	text-align: center
}

/* controls */
#txtD21Arrival, #txtD21Departure { 
width: 70px; 
margin-top: 1px;
color: #990000;
 }
#txtD21RateCode { width: 98px; margin-top: 1px; }
#ddD21City { width: 105px; }
#ddD21Count { }
#ddD21Room { width: 104px; margin-left: 5px; }
#hlD21PackageLink { }

/* calendar */
.scw { padding:1px; vertical-align:middle; }
iframe.scw { position:absolute; z-index: 9999; top: 0px;left:0px;visibility:hidden;width:1px;height:1px;}
table.scw {
	padding: 0px;
	visibility: hidden;
	position: absolute;
	cursor: default;
	width: 300px;
	top: 0px;
	left: -2000px;
	z-index: 10000;
	text-align: center;
}
table.scw {
	padding: 1px;
	vertical-align: middle;
	border: 1px solid #990000;/*666666*/
	font-size: 10pt;
	font-weight: bold;
}
td.scwDrag, td.scwHead {padding: 0px 0px;text-align: center;}
td.scwDrag  {font-size:  8pt;}
select.scwHead {margin: 3px 1px;text-align: center;}
input.scwHead {height: 20px;width: 20px;vertical-align:middle;text-align: center;margin: 2px 1px;font-weight: bold;font-size:  10pt;font-family: fixedSys;}
td.scwWeekNumberHead,td.scwWeek  {padding: 0px;text-align: center;font-weight: bold;}
td.scwNow,td.scwNowHover,td.scwNow:hover,td.scwNowDisabled  {padding: 0px;text-align: center;vertical-align:middle;font-weight: normal;}
table.scwCells {text-align: right;font-size:  8pt;width: 96%;}
td.scwCells,td.scwCellsHover,td.scwCells:hover,td.scwCellsDisabled,td.scwCellsExMonth,td.scwCellsExMonthHover,td.scwCellsExMonth:hover,td.scwCellsExMonthDisabled,td.scwCellsWeekend,td.scwCellsWeekendHover,td.scwCellsWeekend:hover,td.scwCellsWeekendDisabled,td.scwInputDate,td.scwInputDateHover,td.scwInputDate:hover,td.scwInputDateDisabled,td.scwWeekNo,td.scwWeeks {padding: 3px;width: 16px;height: 16px;border-width: 1px;border-style: solid;font-weight: bold;vertical-align: middle;}
table.scw {
	background-color: #EBECF2;/*bebebe*/
}
td.scwDrag  {background-color: #990000;color: #990030;}/*#9999CC;color: #CCCCFF*/
td.scwWeekNumberHead {
	color: #000000;
}/*#333333*/
td.scwWeek  {color: #990000;}
td.scwWeekNo  {
	background-color: #FFFFFF;
	color: #000000;
}/*#776677;color: #333333;*/
td.scwCells {
	background-color: #FFFFFF;
	color: #000000;
}/*#f0f0f0;color: #000000*/
td.scwInputDate {
	background-color: #FFFFFF;
	color: #666666;
}
td.scwCellsWeekend {
	background-color: #FFFFFF;
	color: #666666;
}/*#e4e4e4;color: #000000*/
td.scwCellsExMonth {
	background-color: #990000;
	color: #FFFFFF;
}
td.scwNow {background-color: #990000;color: #FFFFFF;}/*#6666CC;color: #FFFFFF*/
td.scwClear {padding: 0px;}input.scwClear {padding: 0px;text-align: center;font-size: 8pt;}
td.scwCells:hover,td.scwCellsHover {
	background-color: #990000;
	cursor: pointer;
	color: #FFFFFF;
}/*#FFFF00;cursor: pointer;color: #000000;*/
td.scwInputDate:hover,td.scwInputDateHover {
	background-color: #990000;
	cursor: pointer;
	color: #FFFFFF;
}
td.scwCellsWeekend:hover,td.scwCellsWeekendHover {
	background-color: #990000;
	cursor: pointer;
	color: #FFFFFF;
}
td.scwCellsExMonth:hover,td.scwCellsExMonthHover {background-color: #990000;cursor: pointer;color: #FFFFFF;}
td.scwNow:hover,td.scwNowHover {color: #990000;cursor: pointer;font-weight: bold;}
td.scwInputDateDisabled {
	background-color: #727272;
	color: #FFFFFF;
}/*#000000*/
td.scwCellsDisabled {
	background-color: #777;/*999999*/
	color: #FFFFFF;
}
td.scwCellsWeekendDisabled {background-color: #999999;color: #CC6666;}
td.scwCellsExMonthDisabled {background-color: #999999;color: #666666;}
td.scwNowDisabled  {background-color: #990000;color: #FFFFFF;}